/* 	redhat.com MASTER style sheet

	a tip of the red hat to Zeldman, Bowman, Meyer, Shea, Cederholm, Newhouse, Holzschlag,
	and many, many other css and web standards pioneers who have inspired us. 

	the css, layout and validation status of redhat.com is a work-in-progress. numerous
	web-building worker bees are working furiously to correct the bugs, minimize the hacks 
	and validate the code. stay tuned. 

-------------------------------------------------------------------- created June 2004 */

/************************************************************** GLOBAL STYLES */
html {
	min-width: 750px;
	}
	
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff url(../img/bkgrnd_greydots.png) repeat;
	font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size: small;
	color: #333;
	}
	
#wrap {
	width: 750px;
	margin: 0 auto 10px auto;
	padding: 0;
	text-align: left;
	background: #fff;
	}
	
#innerwrap {
	width: 720px;
	margin: 0 15px;
	padding: 8px 0;
	}
	
#contentWrap {
	margin: 25px 0 10px 0;
	padding: 0;
	}
	
#contentWrap:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

#contentWrap1Col {
	margin: 25px 15px 10px 15px;
	padding: 0;
	}
	
.contentWrap1Col:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }
		
#leftCol {
	float: left;
	width: 112px;
	}
	
#contentColRight {
	margin-left: 137px;
	}

img {
	border: 0;
	}
	
a:link {
	color: #0066cc;
	}
	
a:visited {
	color: #6699cc;
	}
	
#header {
	width: 100%;
	height: 42px;
	clear: left;
	}
	
#rhLogo {
	float: left;
	margin-left: 15px;
	}
	
.contentIndent {
	margin-left: 45px;
	margin-bottom: 15px;
	}
	
ul.bigArrowList {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	font-weight: bold;
	}
	
ul.bigArrowList li {
	background-image: url(../img/bullet_bluearrow_dot.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding: 1px 0 5px 18px;
	}

ul.bigArrowList li a {
	text-decoration: none;
	font-weight: bold;
	}
	
h1#titleWelcome {
	background-image: url(../img/title_welcome_rhel.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 45px;
	}

/* for Opera */
html>body h1#titleWelcome {
	height: 51px;
	}
	
h1#titleWelcome span {
	display: none;
	}

p#footer {
	padding-top: 40px;
	margin-left: 15px;
	line-height: 1.5em;
	color: #999;
	font-size: xx-small;
	}
